html, body{
    height: 100%;
    text-align: center;
}

body{
  
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: "Verdana", sans-serif;
}

@media screen and (min-width: 600px) {
    body{
       
    }
}

@media screen and (min-width: 600px) {
    body{
        
    }
 
}

.sign-in{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 1.1em 1.1em 1.1em 1.1em;
    max-width: 70em;
    border-radius: 0.2em;
}

.sign-in h2{
    font-size: 1.563em; 
    width: max-content;
    padding: 0 0 1em 0;
    margin: 0 auto;
}

.div input {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.div label{
    font-size: 1.20em; 
    font-weight: 400;
    padding-bottom: 0.3em;
}

.div input{
    border:1px solid #c3bfbf;
    font-size: 1em;
    outline: 0;
    padding: 0.4em 0.1em 0.4em 0.4em;
}

button{
    background-color: red;
    border: 0;
    border-radius: 0.5em;
    color: #ffffff;
    font-size: 1.30em;
    padding: 0.6em;
}

